//colors

$maincolor:#29b6f6;
$subcolor:#e1f5fe;


//fontstyles

$primaryfont:'Vidaloka', serif;
$secondaryfont:'Roboto', sans-serif;
$specialfont: 'Playball', cursive;

//font colors

$primarycolor:black;
$secondarycolor:white;
$specialcolor:#ffff00;


//padding

$defaultpadding: 5% 15%;